body{
    background-color: azure;
    margin: 2px;
}

.heroe{
    font-size: xx-large;
    text-align: center;
    margin: 10%;
}

nav{
    background-color: #0042FF;
    color: white;
    border: 3px solid rgb(44, 44, 44);
    width: 99.5%;
    
}
nav h2{
    text-align: center;
}

nav ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
} 
li a:hover {
    background-color: #1100aa;
}

.container{
    font-family: sans-serif;
    margin: 1%;
    
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div_1{
    margin: 3%;
    margin-top: 6%;
    padding: 30px;
    background-color: skyblue;
}
.div_2{
    color: whitesmoke;
}

table{
    width: 100%;
    border-spacing: 10px;
}

th, td{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

tr:hover{
    background-color: lightseagreen;
    color: black;
}

aside{
    width: 50%;
    margin: 5%;
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}

.imgRespon{
    max-width: 100%;
    height: auto;
}

aside ul{
    padding: 0;
}

aside img{
    margin-bottom: 5%;
    
}

footer{
    background-color: darkgray;
    padding: 10px;
    border-style: double;
    border-width: 10px;
    border-color: black;
}
